@import url("../../variables.css");

.footer {
  background-color: var(--main-bg);
  color: white;
  padding: 80px 10px;
  height: 100px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.left-section h2 {
  font-size: 24px;
  margin: 0;
}

.left-section .highlight {
  color: var(--soft-color);
}

.middle-section p {
  margin: 0 0 10px 0;
}

.subscribe-form {
  display: flex;
}

.subscribe-form input {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.subscribe-form button {
  background-color: var(--soft-bg);
  border: none;
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
  color: white;
  cursor: pointer;
}

.right-section .social p, .right-section .contact p {
  margin: 0;
}

.right-section .icons {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}

.right-section .icons svg {
  font-size: 18px;
  cursor: pointer;
}

/* Medium screens (tablets) */
@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }

  .left-section,
  .middle-section,
  .right-section {
    margin-bottom: 0;
  }

  .subscribe-form {
    flex-direction: row;
    align-items: center;
  }

  .subscribe-form input {
    margin-bottom: 0;
    margin-right: 10px;
    width: auto;
  }
}

/* Large screens (desktops) */
@media (min-width: 1024px) {
  .footer {
    padding: 80px 10px;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .left-section h2 {
    font-size: 28px;
  }

  .subscribe-form input {
    width: auto;
  }

  .right-section .icons svg {
    font-size: 18px;
  }
}